*{
	/*border: 1px solid red; /*testing purposes*/
  border-radius: 6px;
	font font-family: arial;
}
html{	
  background-image:url(../images/gradient.png);
	background-attachment: fixed;
  background-position: center bottom;
  background-repeat: repeat-x;
  background-color: #ebebeb;
}
fieldset{
	width:15%;
	float:right;
	border: url(../images/gradient.png) #c6d5ec;
  margin-right:5%;
}
ul{
  padding: 0px;
  background-image:url(../images/gradient.png);
  position: relative;
}
#navDiv
{
  width: 100%;
  text-align: center;
}

#navDiv ul
{
  margin:10px;
  height: 40px;
  background-color: #292929;
  line-height: 40px;
}
#navDiv ul li
{
  list-style-type: none;
  display: inline-block;
}

#navDiv ul a
{
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}
#leftNavDiv{
  float:left;
  margin-left:10%;
  position: absolute;
}
#navDiv ul li:hover
{
  background-image:url(../images/gradient.png);
  transition: all 0.3s ease 0s;
}
#loginButton{
  float:right;
  margin-right:5%;
  position: relative;
}
.button
{
   margin: 10px;
   width: 90px;
   height: 40px;
   padding: 10px;
   border-radius: 4px;
   border: none;

   background-color: #292929;
   color: #ffffff;
}

.button:hover
{
  background-color: #696969;
  transition: all 0.3s ease 0s;
}
#loginInfo{
	padding-right:30px;
  background-color:#6c6c6c;
  color:#292929;
}
#loginDiv{
  margin-top:10%;
}