*{
	border: 1px solid red;
    border-radius: 6px;
	font-family: sans-serif;
}
fieldset {
	background-color: pink;
	width:15%;
	float:right; 
}
select{
	width:225px;
}
#yourName{
	width:100px;
}
#password{
	width:110px;
}